#animes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#banner {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem;
  background-image: url("../imagens/naruto-tobi.png");
  background-size: cover;
  position: relative;
}
#banner > h1,
#banner > p {
  z-index: 2;
}
#banner > h1 {
  font-weight: 500;
  font-size: 2rem;
}
#banner > p {
  color: var(--textoCinza);
}
/*? caixa de pesquisa */
#banner + div {
  width: 100%;
  height: 3rem;
  background: var(--cinzaEscuro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #989898;
  margin-bottom: 3rem;
}
#banner + div::after {
  content: "search";
  font-family: "Material Icons";
  font-size: 1.5rem;
}
.caixa-itens {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem 0;
  padding-bottom: 1rem;
}
.card-animes {
  width: 20rem;
  height: 15.5rem;
  background-color: beige;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.animes-sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    359.82deg,
    #13131f -3.85%,
    rgba(19, 19, 31, 0) 99.85%
  );
}
.card-animes > p {
  z-index: 2;
  color: #fefbfb;
  padding: 1rem;
  width: 100%;
  height: auto;
  text-align: start;
  font-size: small;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}
[data-animes="vidasVento"] {
  background-image: url("../imagens/vidas-ao-vento.png");
  z-index: 1;
}
[data-animes="dragonBall"] {
  background-image: url("../imagens/kid-goku-dragon-ball.png");
}
[data-animes="demonSlayer"] {
  background-image: url("../imagens/tanjiro-demon-slayer.png");
}
.caixa-botoes {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.caixa-botoes > button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282830;
  border-radius: 0.15rem;
  color: var(--textoCinza);
  font-family: "Inter", sans-serif;
}
.caixa-botoes > button:first-child,
.caixa-botoes > button:last-child {
  font-family: "Material Icons" !important;
}
.caixa-botoes > button:first-child {
  color: #545454;
  cursor: default;
}
.caixa-botoes > button:nth-child(2) {
  border: solid 2px var(--corPrimaria);
  color: var(--corPrimaria);
}
